/*general*/

*{
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體,Microsoft JhengHei,黑體,SimHei,標楷體,DFKai-SB,BiauKai,全字庫正楷體,TW-Kai,'Source Sans Pro', Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    font-size: 4vmin;
    background: #e7e8ea;
    }

nav{
    text-align: center;
    color: #ffffff;
}
nav li{
    list-style:none;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:hover,
nav a:focus{
    text-decoration: underline;
}

section{
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
}

h2{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 70vw;
	margin-top: 3vh;
    margin-bottom: 5vh;
    padding-bottom: 3vh;
    border-bottom: solid 3px #9e2f35;
}

h3 img{
	display: inline-block;
	height: 10vh;
}

a{
    text-decoration: none;
    color: #9e2f35;
}
a:hover,
a:focus{
    text-decoration: underline;
}

ul{
	list-style: none;
}
section ul li:not(.title)::before{
    display:inline-block;
    content: url("../images/list.png");
    margin-right: 0.5em;
}
li{
	text-align: left;
}
li.title{
	list-style: none;
	background: #9e2f35;
	border-radius: 20px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 3vh;
}

.select{
    position: fixed;
    right: 0;
    top: 0;
}