/* mobile*/

nav{
	width: 98vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background: #e7e8ea;
}
nav li{
	width: 100%;
	height: calc(95vh/6);
	background: #9e2f35;
	text-align: center;
	border-radius: 20px;
	margin-top: 1vh;
	margin-bottom: 1vh;
	line-height: calc(95vh/6);
}

section{
    padding-top: 5vh;
}
section#home{
	height: 90vh;
}

div iframe{
	width: 0;
	height: 0;
}

h2{
	margin-top: 0;
}

.content{
	width: 60vw;
	margin-left: 15vw;
	margin-right: 15vw;
	height: auto;
}
.left,
.right{
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.select{
	visibility: visible;
}
}